<table>
    <tr>
        <th>ID</th>
        <th>Full name</th>
        <th>Plots, IDs (Price)</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Last login</th>
        <th></th>
    </tr>
    {section name=i loop=$users}
    <tr>
        <td>{$users[i].id}</td>
        <td>{$users[i].first_name} {$users[i].last_name}</td>
        <td>
            {if $users[i].plots}
            {section name=j loop=$users[i].plots}
            <div>{$users[i].plots[j].id} - <span class="gray">{$users[i].plots[j].price} AED</span></div>
            {/section}
            {else}
            -
            {/if}
        </td>
        <td>{$users[i].phone}</td>
        <td>{$users[i].email}</td>
        <td><span class="gray">{$users[i].last_login}</span></td>
        <td class="right_column">
            <i class="icon icon_ellipsis" onclick="common.menu_popup_toggle(this, event);">
                <div class="menu_popup">
                    <div onclick="common.user_edit_window({$users[i].id}, event);">Edit</div>
                    <div onclick="common.user_destroy_window({$users[i].id});">Delete</div>
                </div>
            </i>
        </td>
    </tr>
    {/section}
</table>